@using Ninject
@using SB.App_Start
@using SB.BLL
<!DOCTYPE html>
@{
    var tagService = NinjectWebCommon.bootstrapper.Kernel.Get<TagsService>();
}
<html ng-app="blogApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sample Blog</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/blog")
    @RenderSection("scripts", required: false)
</head>
<body layout="column" >
    <header>
        <md-toolbar ng-controller="navMenu as ctrl" ng-cloak>
            <div class="md-toolbar-tools">
                <i class="material-icons" layout-margin>menu</i>
                <h2 flex>
                    <a href='@Url.Action("Index", "Home", new { area = "" })'>Simple blog</a>
                </h2>
                <section>
                    @Html.Partial("_LoginPartial")
                </section>
            </div>
        </md-toolbar>
    </header>


    <md-content layout="row" flex="grow">
        <section layout-margin flex>
            @RenderBody()
        </section>
        <section nd-controller="rightPane">
            <md-sidenav class="md-sidenav-right"
                        md-component-id="right"
                        md-is-locked-open="$mdMedia('gt-md')"
                        md-whiteframe="4">
                <md-toolbar>
                    <h1 class="md-toolbar-tools">Tags</h1>
                </md-toolbar>
                <section layout-padding layout="column">
                    @foreach (var tag in tagService.GetTopTags())
                    {
                        @Html.RouteLink(tag.Label, "TagList", new { id = tag.Id })
                    }
                </section>
            </md-sidenav>
        </section>
    </md-content>



    <footer ng-controller="footer" md-colors="::{background:'primary'}">
        <section style="padding: 20px;" layout="row" layout-align="center center">
            &copy; @DateTime.Now.Year - Sample blog
        </section>

    </footer>
</body>
</html>
