@using SB.Helpers
@model SB.DAL.Entities.BlogPost

<div class="row">
    <div class="col-md-2">
        @Html.Partial("DatePartial", Model.Updated)
    </div>
    <div class="col-md-10">

        <a href='@Url.RouteUrl("PostView", new { id = Model.Id })'>
            <h2> @Model.Title</h2>
        </a>
        <div class="container post-info">
            <div class="col-md-6">
                <a href='@Url.RouteUrl("AuthorList",new {authorId =Model.Author.Id})'>@Model.Author.UserName</a>
            </div>
            <div class="col-md-5 align-right">
                <span class="glyphicon glyphicon-comment" style="margin-right: 5px;"></span>@Model.Comments.Count
            </div>
        </div>
        <div class="well">@TextHelper.TruncText(Model.Text)</div>
        @foreach (var tag in Model.Tags)
        {
        <div class="pull-left" style="margin-right: 10px;">
            <span class="glyphicon glyphicon-tag"></span>
            <a href="@Url.RouteUrl("TagList", new{id=@tag.Id})">@tag.Label</a>
        </div>
        }
    </div>
</div>

