@model SB.Models.PostsListViewModel
@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> @ViewData["userName"]</h2>
<hr />
<div class="container-fluid">
    @foreach (var post in Model.Posts)
    {
        @Html.Partial("PostListItemPartial", post);
    }
    @*Paging*@
    @if (Model.PagesCount > 1)
    {
        <section layout="row" layout-align="center center">
            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                <md-button href='@Url.RouteUrl("AuthorList", new {authorId=ViewData["userId"], page = i })' class='@(i == Model.Page ? "md-primary" : "")'>@i</md-button>
            }
        </section>
    }

    @*End Paging*@
</div>