@using Microsoft.AspNet.Identity
@model SB.DAL.Entities.BlogPost
@{
    ViewBag.Title = "PostView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = "";
    var isAdmin = false;
    if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        userId = HttpContext.Current.User.Identity.GetUserId();
        isAdmin = HttpContext.Current.User.IsInRole("Admin");
    }
}
@section Scripts{
    <script type="text/ng-template" id="comment_renderer">
        <div layout="row">
            <a layout-align="center center" href="{{c.AuthorId}}">{{c.Author}}</a>
            <i layout-align="center center" style="margin-left:3px; margin-right:10px;" class="material-icons">chevron_right</i>
            <span layout-align="center center">{{c.Text}}</span>
            <span style="margin-left:10px; margin-right:10px;"><a ng-show="showControl==c.Id && userId.length >0" href="#" ng-click="reply(c)">Reply</a></span>
            <span ng-show="(c.AuthorId==userId || isAdmin) && showControl==c.Id"><a href="#" ng-click="delete(c.Id)">Delete</a></span>
        </div>
        <div style="padding-left:20px;"
             ng-repeat="c in c.Comments"
             ng-include="'comment_renderer'"
             ng-mouseenter="showControl=c.Id"
             ng-mouseleave="showControl=0"></div>

    </script>

}


<h1>@Model.Title</h1>

<div class="main-text">
    @Html.Raw(Model.Text)
</div>

<div layout-margins layout="row">
    @foreach (var tag in Model.Tags)
    {
        <div layout-align="end center">
            <span class="material-icons">label</span>
        </div>
        <div style="margin-right: 10px;" layout-align="start center">
            <a href="@Url.RouteUrl("TagList", new{id=@tag.Id})">@tag.Label</a>
        </div>
    }
</div>
<div ng-controller="commentsController"
     layout-margin
     ng-init="init('@Model.Id','@userId',@isAdmin.ToString().ToLower())">

    <div layout="column">
        <div ng-repeat="c in comments"
             ng-include="'comment_renderer'"
             ng-mouseenter="showControl=c.Id"
             ng-mouseleave="showControl=0"></div>
    </div>



    <div ng-show="userId.length >0" layout-margin layout="column">
        <div ng-show="parentComment != null">
            Reply to: {{parentComment.Author}}
            <span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="parentComment=null"></span>
        </div>

        <section layout="row" flex ng-form="commentsForm">
            <md-input-container class="md-block" >
                <label>Comment</label>
                <input type="text" ng-model="message" required flex/>
            </md-input-container>

            <md-button ng-disabled="commentsForm.$invalid" ng-click="write(commentsForm)" >Send</md-button>
     
        </section>

    </div>
</div>
