@model SB.Areas.PrivateArea.Models.EditPostViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/PrivateArea/Views/Shared/_Layout.cshtml";

}

<section ng-controller="editor" layout="column" ng-init="init(@Model.Tags)" flex="grow">
    <h2>Edit</h2> 
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <md-input-container flex>
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title)
            <div>
                @Html.ValidationMessageFor(m => m.Title)
            </div>
        </md-input-container>
        <section>
            @Html.TextAreaFor(m => m.Text, new {id = "tbEdit"})
            <div>
                @Html.ValidationMessageFor(m => m.Text)
            </div>
        </section>
        <md-content layout-padding>
            @Html.LabelFor(model => model.Tags)
            <md-chips ng-model="tags">
                <md-autocomplete md-selected-item="suggest"
                                 md-search-text="searchText"
                                 md-items="item in querySearch(searchText)"
                                 placeholder="Select or type tag">
                    <span md-highlight-text="ctrl.searchText">{{item}} </span>
                </md-autocomplete>
            </md-chips>
            <input type="hidden" value="{{tags}}" name="Tags"/>
        </md-content>



        <section layout="row" layout-align="center center" layout-margin>
            <md-button type="submit">Save</md-button>
            <md-button href="@Url.Action("Index")">Cancel</md-button>
        </section>


    }
</section>