@model SampleBlog.Models.ManageUserViewModel



@using (Html.BeginForm("Manage", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary()
    <md-input-container>
        @Html.LabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword)
    </md-input-container>
    <md-input-container>
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)
    </md-input-container>
    <md-input-container>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
    </md-input-container>
    <section>
        <md-button type="submit" class="md-raised">Change password</md-button>
    </section>
}
