@model SampleBlog.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <section>Create a new account.</section>
    <hr />
    @Html.ValidationSummary()

    <md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="45" layout="column" layout-align="center center" ng-cloak>
        <md-input-container>
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
        </md-input-container>
        <md-input-container>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
        </md-input-container>
        <md-input-container>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
        </md-input-container>
        <section>
            <md-button type="submit" class="md-raised">Register</md-button>
        </section>
    </md-whiteframe>
}

